// FONTS

// MAIN
body {
    overflow-x: hidden;
    background: url("https://img5.goodfon.ru/original/1920x1080/2/3b/abstraktsiia-geometriia-background-geometric-line.jpg");
}
span {
    color: red;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
}

.gallery {
    padding-top: 45px;
    &__main-title {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 900;
        font-size: 36px;
        line-height: 51px;
        text-align: center;
        padding-bottom: 45px;
        color: rgb(51, 51, 51);
    }
}

.mil {
    padding-top: 70px;
    padding-bottom: 30px;
    &__title {
        text-align: center;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: rgb(51, 51, 51);
    }
    &__slider {
        padding-top: 25px;
    }
    &__item {
        margin: 10px;
        img {
            height: 200px;
            object-fit: cover;
            max-width: 100%;
        }
    }
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slick-dots {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
        list-style: none;
        margin: 0 10px;
    }
    button {
        font-size: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgb(31, 29, 29);
        border: none;
        padding: 0;
        transition: all 0.3s;
    }
}
.slick-dots li.slick-active {
    button {
        background-color: rgb(4, 130, 168);
    }
}

.slick-track {
    cursor: grab;
}

.zlo,
.smex {
    padding-top: 70px;
    padding-bottom: 30px;
}
